<div class="card" style="width: 18rem;">
    <img src="http://localhost:8090/{{project.image}}" 
    class="card-img-top" 
    alt="{{project.name}}">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">
            <strong>Description:</strong> {{project.description}}<br>
            <strong>Start Date:</strong> {{project.startDate}}<br>
            <strong>End Date:</strong> {{project.endDate}}<br>
            <strong>Status:</strong> {{project.status}}<br>
            <strong>Team Size:</strong> {{project.teamSize}}<br>
        </p>
    </div>
</div>
