<div class="card">
  <div class="media">
    <div class="media-left" style="text-align: left; display: inline-block;">
      <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
      <h4 class="media-heading" style="margin-top: 10px;">
        <a>{{ enquiry.name }}</a>
      </h4>
    </div>
    <div class="media-body" style="text-align: left; display: inline-block; vertical-align: top; margin-left: 15px;">
      <p><strong>Service Type:</strong> <a>{{ enquiry.serviceType }}</a></p>
      <p><strong>Email:</strong> {{ enquiry.email }}</p>
      <p><strong>Message:</strong> {{ enquiry.message }}</p>
    </div>
  </div>
</div>
<br/>